<footer
  class="bg-dark-blue text-center text-white justify-between py-5 px-10 md:px-36 text-sm flex flex-col md:flex-row gap-2 w-full"
>
  <div id="copyright" class="flex w-max">
    <span class="px-3 border-r">Copyright (c) 2023</span>
    <span class="px-3">Clarifionsupport@clarifion.com</span>
  </div>
  <div>🔒 Secure 256-bit SSL encryption.</div>
</footer>
