---
import Checkline from "./icons/Checkline.astro";
---

<div id="good" class="flex flex-col gap-2">
  <div class="flex gap-2 text-sm md:text-md items-center">
    <Checkline size="22px" color="#2C7EF8" />
    <p>
      Negative Ion Technology <span class="font-bold"
        >may help with allergens</span
      >
    </p>
  </div>
  <div class="flex gap-2 text-md items-center">
    <Checkline size="22px" color="#2C7EF8" />
    <p>
      Designed for <span class="font-bold">air rejuvenation</span>
    </p>
  </div>
  <div class="flex gap-2 text-md items-center">
    <Checkline size="22px" color="#2C7EF8" />
    <p>
      <span class="font-bold">Perfect for every room</span> in all types of places.
    </p>
  </div>
</div>
