<div class="rounded-lg flex bg-[#E3EEFF] my-3 p-3 gap-2 items-center">
  <div
    class="bg-custom-blue text-sm md:text-xl text-white rounded-full w-8 h-8 text-xl flex justify-center items-center p-2"
  >
    %
  </div>
  <p class="text-xs md:text-xl">
    Save <span class="text-custom-blue">53%</span> and get<span
      class="text-custom-blue"
    >
      6 extra Clarifision</span
    > for only <span class="text-custom-blue"> $14 Each.</span>
  </p>
</div>
