---

---

<button class="p-4 bg-[#59AE43] text-xl text-white w-full rounded-full">
  Yes - Claim my discount
</button>
<div
  class="text-gray-500 px-2 items-center justify-around text-nowrap border-solid border-[2px] border-opacity-25 my-2 p-2 text-xs rounded-md border-gray-500"
>
  <div class="flex justify-between md:justify-normal p-2">
    <div class="md:grow border-r md:px-1">Free Shipping</div>
    <div class="md:grow md:px-1">🔒 Secure 256-bit SSL encryption.</div>
    <div class="hidden md:block grow px-1 border-l">
      <img src="img/cards.png" alt="" />
    </div>
  </div>
  <div class="grow py-2 flex justify-center md:hidden px-1 border-t">
    <img src="img/cards.png" alt="" />
  </div>
</div>
<div class="text-center my-5">
  <a href="#" class="text-red-600 underline text-xl"
    >NO THANKS, I DON’T WANT THIS.</a
  >
</div>
<div class="w-full h-full my-2 flex gap-2 text-[#4D5254]">
  <img src="img/cert.png" class="flex h-full w-auto" alt="" />

  <p class="text-sm">
    If you are not completely thrilled with your Clarifion - We have a <span
      class="font-bold">30 day satisfaction guarantee</span
    >. Please refer to our return policy at the bottom of the page for more
    details. Happy Shopping!
  </p>
</div>
